<!DOCTYPE html>
<html lang="en">
{#Le#}
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body class="globMargin">

<div style="white-space: nowrap" id="topNavigator">
    <div style="display:inline; text-align:left">
        <img src="/static/images/ins.jpg" style="width:70px;height:auto;" alt="ins_logo">
        <hr class="verticalLine">
        <a href="/">
            <span class="instalogo" style="margin: 10px"> Insta485</span>
        </a>
    </div>

    <div style="display:inline; float: right; position:relative; top: 30px">
        <a href="/explore/">explore</a>
        <span class="wordvertline"></span>
        <a href="{{ '/users/%s/'%username }}">{{ username }}</a>
    </div>
</div>

<hr style="height:2px;border-width:0; background-color:#fff;border-bottom:1px solid #dbdbdb;border-bottom:1px solid rgba(219,219,219,1)">
        <p style="font-size: 25px; font-weight: 800">Discover People</p>
{% for user in not_following %}
    <article class="articleDef">
        <header class="headerTag">
            <div class="relativePos">
                <a class="profileImage" href="{{ '/users/%s/'%user.username }}" tabindex="0"
                   style="width: 32px; height: 32px; display: inline-block;">
                    <img alt="{{ '%s \'s profile picture'%user.username }}"
                         crossorigin="anonymous" data-testid="user-avatar" draggable="false"
                         src="/uploads/{{ user.filename }}" style="width: 32px; height: 32px">
                </a>
                <a class="profileName" href="{{ '/users/%s/'%user.username }}">
                    {{ user.username }}
                </a>
                <form class="profileName" action="/following/?target={{ current_url }}"
                      method="post"
                      enctype="multipart/form-data"
                style="display: inline; float: right; position:relative; top: 4px">
                    <input type="submit" name="follow" value="follow" style="font-size: 13px"/>
                    <input type="hidden" name="username"
                           value="{{ user.username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            </div>
        </header>

    </article>
{% endfor %}


</body>
</html>