<!DOCTYPE html>
<html lang="en">
{#Le#}
<head>
    <link rel="stylesheet" href="/static/css/create.css">
    <title>insta485</title>
</head>

<body class="globMargin">

<div style="white-space: nowrap" id="topNavigator">
    <div style="display:inline; text-align:left">
        <img src="/static/images/ins.jpg" style="width:70px;height:auto;"
             alt="ins_logo">
        <hr class="verticalLine">
        <a href="/">
            <span class="instalogo" style="margin: 10px"> Insta485</span>
        </a>
    </div>

    <div style="display:inline; float: right; position:relative; top: 30px">
        <a href="/explore/">explore</a>
        <span class="wordvertline"></span>
        <a href="{{ '/users/%s/'%username }}">{{ username }}</a>
    </div>
</div>

<hr style="height:2px;border-width:0; background-color:#fff;border-bottom:1px solid #dbdbdb;border-bottom:1px solid rgba(219,219,219,1)">

<article class="articleDef">
    <header class="headerTag">
        <form action="{{ '/accounts/?target=%s'%url_for('edit') }}"
              method="post" enctype="multipart/form-data">
            <label style="font-weight: 600"> Old Password</label>
            <input type="password" name="password" required/>
            <label style="font-weight: 600"> New Password</label>
            <input type="password" name="new_password1" required/>
            <label style="font-weight: 600"> Password again</label>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <br>
        <a href="{{ url_for('edit') }}"
           style="font-weight: 600; font-size: 12px">Edit profile</a>
    </header>


</article>


</body>
</html>