<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body class="globMargin">

<div style="white-space: nowrap" id="topNavigator">
    <div style="display:inline; text-align:left">
        <img src="/static/images/ins.jpg" style="width:70px;height:auto;"
             alt="ins_logo">
        <hr class="verticalLine">
        <a href="/">
            <span class="instalogo" style="margin: 10px"> Insta485</span>
        </a>
    </div>

    <div style="display:inline; float: right; position:relative; top: 30px">
        <a href="/explore/">explore</a>
        <span class="wordvertline"></span>
        <a href="{{ '/users/%s/'%username }}"> {{ username }}</a>
    </div>
</div>

<hr style="height:2px;border-width:0; background-color:#fff;border-bottom:1px solid #dbdbdb;border-bottom:1px solid rgba(219,219,219,1)">
<article style="padding-left: 30px; padding-right: 30px; padding-top: 0px">
    <div style="font-weight: 400; font-size: 40px; line-height: 100%">
        <div class="profileImage" tabindex="0"
           style="width: 32px; height: 32px; display: inline-block;">
            <img alt="/uploads/{{ owner_img_url }}"
                 crossorigin="anonymous" data-testid="user-avatar"
                 draggable="false"
                 src="/uploads/{{ owner_img_url }}"
                 style="width: 32px; height: 32px">
        </div>
        {{ user.username }}
    </div>


    {% if username != targetuser %}

        {% if logname_follows_username %}
            <span style="font-size: 18px">following</span>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="{{ '/following/?target=/users/%s/'%targetuser }}"
                  method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{ targetuser }}"/>
                <input type="hidden" name="operation" value="unfollow"/>
            </form>
        {% else %}
            <span style="font-size: 18px">not following</span>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="{{ '/following/?target=/users/%s/'%targetuser }}"
                  method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{ targetuser }}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
        {% endif %}


    {% else %}
        <div>
            <a href="{{ url_for('edit') }}"
               style="font-weight: 600; font-size: 14px">Edit profile</a>
            <form action="/accounts/logout/" method="post"
                  enctype="multipart/form-data" style="padding-top: 10px">
                <input type="submit" name="logout" value="Logout"
                       style="font-size: 12px"/>
            </form>
        </div>
        <div class="articleDef">
            <form action="/posts/?target=/users/{{ username }}"
                  class="vertical-center" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required/>
                <input type="submit" name="create_post"
                       value="upload new post"/>
                <input type="hidden" name="operation" value="create"/>
            </form>
        </div>


    {% endif %}
    {% if total_posts == 1 %}
        <span style="font-size: 20px"> {{ total_posts }} post</span>
    {% else %}
        <span style="font-weight: 500"> {{ total_posts }} posts </span>
    {% endif %}


    <span class="followeree">
        {% if followers == 1 %}
            <a href="{{ '/users/%s/followers/'%user.username }}">
                {{ followers }} follower
            </a>
        {% else %}
            <a href="{{ '/users/%s/followers/'%user.username }}">
                {{ followers }} followers
            </a>
        {% endif %}
        <a href="{{ '/users/%s/following/'%user.username }}">
            {{ following }} following
        </a>
    </span>
    <p style="font-size: 20px">{{ user["fullname"] }}</p>

</article>
<div class="center">
    {% for post in posts %}
        <div class="container" style="padding-right: 10px">
            <a href="/posts/{{ post.postid }}/">
                <img alt="{{ '{}\'s {} posts'.format(username, posts.postid) }}"
                     src="{{ url_for('sendfile', filename=post.filename) }}"
                     style="height:200px; width:auto"/>
            </a>
        </div>
    {% endfor %}
</div>

</body>
</html>